---

project_name: generator

#database_name: generator
#database_user: generator
#database_password: generator

packages:
  - apt
#  - fail2ban
#  - iptables
#  - php
#  - composer
#  - apache
#  - mysql
#  - ssh


#vars_files:
#  - test
#  - test2

#includes:
#  - include: dbservers
#  - include: webservers

update_hosts_file: False
