---

project_name: generator

#database_name: generator
#database_user: generator
#database_password: generator

packages:
#  - apache
  - apt
#  - composer
#  - fail2ban
#  - iptables
#  - mysql
#  - php
#  - ssh


#vars_files:
#  - test.yml
#  - test2.yml

#includes:
#  - include: dbservers
#  - include: webservers
